
		/* CL Defense Website CSS */

	/* Body */
body				{background-image:url(img/hawaiianprint.jpg); background-repeat:repeat}
.wrapper 			{width:auto; margin:auto; max-width:960px; background-color:white; padding:5px}

	/* Header */
#Title				{display:block; margin-left:auto; margin-right:35%; padding-top:15px}
#Slogan				{float:right; margin-right:5%}
#SloganM			{display:none}
#Logo				{float:left; width:100px; margin-left:11%}

	/* Nav */
nav					{text-align:center; background-color:#000000}
nav *				{margin:5px; padding:5px}
nav a				{color:#D3D3D3; font-size:14pt}
nav a:hover			{text-decoration:none}
nav ul				{list-style-type:none}
nav ul li			{display:inline}

	/* Main	*/
#Main				{font-size:13pt}
h2					{text-align:center}

	/* Who We Are */
#ContactInfo		{text-align:center; border:solid 5px #000000; background: rgba(128, 128, 128, 0.5); float:right; margin-left:25px; padding:2%}
.About				{margin-right:33%; margin-left:2%; text-indent:5%}
.Slideshow			{}
.Slideshow ul, .Slideshow li	{list-style-type:none; margin:0; padding:0}

	/* Policies */
#Policies			{margin-right:5%}

	/* Transfers */
h4					{text-decoration:underline}
#Transfers			{margin-left:5%; margin-right:5%}
.TransferSteps		{list-style-type:decimal}
.TransferSteps li	{font-weight:bold}
#Description		{font-weight:normal}
#Note				{font-style:italic}
#NoteU				{text-decoration:underline}

	/* Clear */
.clear				{clear:both}

	/* MEDIA QUERIES */
@media print 	{
	nav				{display:none}
	#Logo			{display:none}
	a				{color:#000000; text-decoration:none}
	.Slideshow		{display:none}
}
	
@media only screen and (max-width:650px) {
	#Logo			{float:none; display:block; margin-left:auto; margin-right:auto}
	#Slogan			{display:none}
	#Title			{display:block; margin:auto}
	#ContactInfo	{float:none; margin:auto}
	.About			{margin:auto}
	#Policies		{margin:auto}
	#Transfers		{margin:auto}
}